[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json/
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen/
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/vim-js-pretty-template"]
	path = vim/bundle/vim-js-pretty-template
	url = https://github.com/Quramy/vim-js-pretty-template
[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tsuquyomi"]
	path = vim/bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
	ignore = dirty
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "vim/bundle/vim-bracketed-paste"]
	path = vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule "vim/bundle/vim-jsdoc"]
	path = vim/bundle/vim-jsdoc
	url = git@github.com:heavenshell/vim-jsdoc.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
